/.idea/
/Archiv/
/search_db/
/temp_const/
/to_exe/
/venv/
/Инструкци/
/log_files/
/Инструкци/
/notepad/
__pycache__
CopyAssembly
CopyDrinage
/Инструкция
/specification
log_files_small
_temp
src
*.exe
*.ini
*.spec